[Unit]
Description=Flood startup
After=network-online.target

[Service]
WorkingDirectory=/opt/flood
ExecStart=/usr/bin/npm start
Restart=always
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=notell
User=root
Group=root

[Install]
WantedBy=multi-user.target
