[Unit]
Description=Flood startup
After=network-online.target

[Service]
WorkingDirectory=/home/user/flood
ExecStart=/usr/bin/npm start
Restart=always
User=root

[Install]
WantedBy=multi-user.target
