[Unit]
Description=Radarr Daemon
After=network-online.target

[Service]
User=radarr_user
Group=radarr_user
Type=simple
ExecStart=/usr/bin/mono /opt/Radarr/Radarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
